@{
    ViewBag.Title = "GeneratePassword";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <div class="login-panel panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Please Enter Your Password</h3>
            </div>
            <div class="panel-body">
                @using (Html.BeginForm())
                {
                    <fieldset>
                        <div class="form-group">
                            @Html.Password("newPassword", null, new { @class = "form-control", placeholder="Password" })
                        </div>
                        <input type="submit" id="btnSave" value="Generate Hashed" class="btn btn-lg btn-success btn-block" />
                        <div class="form-group">
                            @ViewBag.Result
                        </div>
                    </fieldset>
                }
            </div>
        </div>
    </div>
</div>

