@{
    ViewBag.Title = "OpenGraph";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Open Graph</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
@using (Html.BeginForm())
{
    <div id="fields">
        @foreach (dynamic obj in ViewBag.Fields)
        {
            <div id="div_@obj["key"]" class="form-group">
                <label>@obj["display"] :</label><div id="underdiv_@obj["key"]" class="controls">
                    <input name="field_@obj["key"]" type="text" value="@obj["value"]" id="field_@obj["key"]" class="form-control" />
                </div>
            </div>
        }
    </div>
    <div class="row">
        <div class="col-lg-12">
            <input type="submit" id="btnSave" value="Save Changes" class="btn btn-lg btn-success btn-block" />
        </div>
    </div>
}